
$darkest-blue:#1a1f2b;
$dark-blue:#30395c;
$medium-blue:#4a6491;
$light-blue:#85a5cc;
$lightest-blue:#d0e4f2;

@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";
@import "partials/sidebar.sass";
@import "partials/dashboard.sass";
@import "partials/internship.sass";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#app{
  height: 100%;
}

body {
  font-family: 'Helvetica', 'Arial';
  height: 100%;
  background-color:$lightest-blue;
}

html {
  height: 100%;
}

.wrapper {
  height: 100%;
}

.register {
  @include span-columns(6 of 12);
  @include shift(3);
  background-color: #e5e5e5;
  border-radius: 5px;
  padding: 15px;
  margin-top: 8%
}

.login{
  @include span-columns(6 of 12)
  @include shift(3)
  background-color: #e5e5e5;
  border-radius: 5px;
  padding: 15px;
  margin-top: 8%
}
.submit-long{
  @include span-columns(12)
}
