.new-internship
  +span-columns(9.5 of 12)

.company-internship-list
  padding-top: 25px

.company-internship-box
  +span-columns(9.5 of 12)
  padding: 20px
  border-bottom: 1px solid $dark-grey

  small
    color: #757473
    +span-columns(1.5)
    text-align: center
    font-weight: 400
    color: white
    font-size: 0.75em
    margin-top: 5px
    height: 30px
    background-color: white
    border-radius: 3px
    color: $button-blue
    border: 1px solid $button-blue
    padding: 5px 20px

  h2
    +span-columns(11.25)

  .info-box
    +span-columns(0.75)
    float: right
    +omega()
    height: 25px
    font-size: 0.7em
    text-align: center
    margin-top: -0.7em
    color: white
    background-color: $dark-grey
    border-radius: 3px
    padding: 5px 10px
    

  button
    +span-columns(2)
    float: right
    height: 35px
    font-size: 0.8em

.internship-table
  +span-columns(9.5 of 12)
  padding-top: 20px


.grey-box
  margin-top: 20px
  +span-columns(12)

  h2
    +span-columns(3)

  button
    +span-columns(2)
    +shift(7)
    +omega()
    height: 35px
    font-size: 0.8em
    background-color: $button-blue
    float: right

  p
    margin-top: 20px
    +span-columns(12)

  small
    +span-columns(1.5)
    font-size: 0.85em
    border-radius: 20px
    font-weight: 400
    border: 2px solid $light-blue
    text-align: center
    color: $light-blue
    padding: 3px
    
.applicant-list
  +span-columns(12)
  margin-top: 20px
  overflow: scroll

  .info-msg
    text-align: center
    margin-top: 20px  

  .status-msg
    +span-columns(6)
    height: 35px
    text-align: center
    padding: 8px 5px
    color: white
    font-size: 0.9em
    border-radius: 3px

  .orange
    background-color: #ff9f15
  .red
    background-color: #f35e5e
  .green
    background-color: #89da54
    
  table
    td

    button
      height: 35px
      font-size: 0.9em
      background-color: $button-blue


.application-info
  +span-columns(9.5 of 12)
  padding-bottom: 20px
  height: 100%

.user-info-container
  +span-columns(12)
  height: 100%
  margin-top: 25px
  border-radius: 5px
  min-height: 50px
  padding-bottom: 30px
  border-bottom: 1px solid $dark-grey


.application-title
  position: relative
  +span-columns(10)
  padding: 7.351% 0;
  height: 0

  h2
    +span-columns(12)
    font-size: 2em
    font-weight: 400
    position: absolute
    top: 50%
    margin-top: -0.5em
    

  small
    font-size: 0.9em
    +span-columns(8)
    color: $dark-grey

  button
    +span-columns(3)
    position: absolute
    height: 35px
    background-color: #0d7efd
    font-size: 0.9em
    bottom: 0
    right: 0
    
.user-avatar
  +span-columns(2)
  text-align: center
  position: relative
  background-color: $light-grey
  color: $dark-grey
  height: 0
  padding: 7.351% 0
  display: inline-block
  border-radius: 50%

  span
    display: block
    position: absolute
    left: 0
    right: 0
    top: 50%
    font-size: 2em
    margin-top: -0.65em


.application-body
  margin-top: 25px
  height: 100%
  +span-columns(12)


  .applied-time
    +span-columns(4)
    text-align: center

    small
      font-style: italic
      font-family: 'Georgia'

    h2
      font-size: 1.2em
    

  .dropdown
    +span-columns(4)
    text-align: center
    margin-top: 10px

  .view-resume
    +span-columns(4)
    +omega()
    text-align: center
    float: right !important
    color: $button-blue
    font-size: 0.9em
    margin-top: 20px

.answer-list
  +span-columns(11)
  +shift(0.5)
  overflow: scroll
  margin-top: 10px
  height: 65%

  h2
    font-size: 1.2em

.Select-placeholder
  margin-top: 1px

.answer-wrapper
  +span-columns(12)
  hr
    +span-columns(5, $display:block-collapse)
    +omega()
    
  small
    +span-columns(2)
    +omega()
    margin-top: 13px
    font-family: 'Georgia'
    text-align: center

.answer-box
  p
    font-style: italic


/* Company Dashboard */

.company-dashboard
  +span-columns(9.5 of 12)
  margin-top: 20px

.line-chart
  +span-columns(6)
  height: 200px
