
$grey: rgba(114,118,119,0.1)
$dark-grey: rgba(114,118,119,0.3)
$light-grey: rgba(0,0,0,0.03)

.internship-list
  margin-top: 25px

  hr
    +span-columns(10)
    margin-top: -10px

.menu
  +span-columns(4)
  margin-bottom: 30px
  font-size: 0.9em

.menu-item
  +span-columns(4)
  border-radius: 20px 
  background-color: white
  color: $button-blue
  height: 35px
  font-size: 0.9em

.active
  background-color: $button-blue
  color: white
  
  
.menu-item:hover
  border: 1px solid $button-blue
  background: white
  color: $button-blue
    
.internship-box
  +span-columns(10)
  border-radius: 5px
  color: $dark-blue
  background-color: rgba(0,0,0,0.035)
  padding: 10px
  margin-bottom: 20px

.internship-box-header
  +span-columns(12)
  padding: 10px 0 10px 10px

  h2
    +span-columns(4)
    +omega()
    font-weight: 400
    font-size: 1.3em

  button
    +span-columns(2)
    +shift(1)
    +omega()
    height: 35px
    font-size: 0.8em
    margin-top: -8px
    border-radius: 3px
    float: right

    background-color: $button-blue

.internship-title
  font-weight: 200 !important
  font-size: 1.3em
  +shift(1.5)

.internship-box-body
  +span-columns(12)
  
  p
    +span-columns(4)
    padding: 5px
    font-size: 0.9em
    text-align: center
    font-weight: 200
    background-color: rgba(114,118,119,.1)
    border-radius: 3px
  

.internship-apply-box
  +span-columns(12)
  border-radius: 5px
  background-color: rgba(0,0,0,0.035)
  padding: 20px
  margin-bottom: 50px
  box-shadow: 1px 2px 1px rgba(114,118,119,0.2)

  small
    border-radius: 3px
    padding: 5px
    border: 1px solid #c3c3c3
    font-size: 12px

  p
    margin-top: 15px
  

.apply-stages
  +span-columns(9.78 of 12)
  +shift(2.22)
  height: 100px
  background-color: $light-grey
  position: absolute
  bottom: 0
  left: 0

  .stage-block
    +span-columns(4,block-collapse)
    text-align: center
    padding-top: 20px
    color: rgba(114,118,119,0.9)
    height: inherit
    border-right: 1px solid $dark-grey

    p
      font-style: italic

  .stage-block:last-child
    border-right: none
  
  .stage-block:hover
    background-color: $grey


.stage-one
  +span-columns(10)
  margin-top: 50px
    
.upload-resume
  +span-columns(6)
  +shift(3)
  background-color: $button-blue

.hidden-btn
  display: none 

.grey-container
  +span-columns(12)
  background-color: $grey
  padding: 30px 0
  height: 100px
  border-radius: 5px

.stage-two
  +span-columns(10)
  +shift(0.5)
  margin-top: 50px

  .question-block
    +span-columns(12)
    margin-top: 20px

    textarea
      height: 100px

  button
    margin-top: 20px
    background-color: $button-blue
    +span-columns(8)
    +shift(2)


  .question-container
    +span-columns(8)
    +shift(2)
    margin-top: 20px
    border-radius: 5px
    background-color: rgba(0,0,0,0.035)
    padding: 20px
    box-shadow: 1px 2px 1px rgba(114,118,119,0.2)

.applied-success
  +span-columns(10)
  +shift(1)
  padding: 20px
  text-align: center

  .grey-container
    +span-columns(12)
    background-color: $light-grey
    box-shadow: 1px 2px 1px rgba(114,118,119,0.2)
    color: #686868
    height: auto !important

    p
      font-style: italic
      +span-columns(12)

    h2
      +span-columns(12)
    
    button
      +span-columns(8)
      +shift(2)
      background-color: #67c100
      background: -webkit-gradient(linear, left top, left bottom, from(#8bd64e), to(#71bb35));
      background: -webkit-linear-gradient(top, #8bd64e, #71bb35);
      background: -moz-linear-gradient(top, #67c100, #64b902);
      background: -ms-linear-gradient(top, #67c100, #64b902);
      background: -o-linear-gradient(top, #67c100, #64b902);

  .success-icon
    +span-columns(2)
    +shift(5.5)
    background: url('img/tick.png')
    background-position: center
    text-align: center
    background-repeat: no-repeat
    border-style: none
    width: 64px
    height: 64px

        
        
.applied-internship-wrapper
  +span-columns(10)

.applied-internship-box
  +span-columns(12)
  padding: 20px
  background-color: $light-grey
  box-shadow: 1px 2px 1px rgba(114,118,119,0.2)
  color: #686868
  height: auto !important

