.message-wrapper
  +span-columns(10)
  height: 100%

.message-list
  height: 100%
  +span-columns(4)
  background-color: white

.message-box
  border-bottom: 1px solid $dark-grey
  padding: 20px 10px
  cursor: pointer

  p
    font-size: 0.8em
    margin-bottom: 2px

  h2
    margin-bottom: 2px

  h4
    font-size: 0.8em
    float: right
    background-color: #2b9ef6
    color: white
    font-weight: 200
    margin-bottom: 0px
    border-radius: 2px
    padding: 2px 5px
    margin-top: 1px
  small 
    color: #bdbdbd


.message-view
  +span-columns(8)
  background-color: white
  height: 100%
  padding: 20px 20px
  border-left: 1px solid $dark-grey

  h2
    font-size: 1.4em
    font-weight: 400

  p
    color: #bdbdbd
    font-weight: 300


.message-container-list
  +span-columns(12)
  overflow: scroll
  height: 65%

.message-container
  +span-columns(12)
  padding: 20px
  border-radius: 10px
  color: black
  border: 1px solid $dark-grey
  margin-bottom: 20px

  h2
    +span-columns(12)
    font-size: 1em
    font-weight: 300
    color: #bdbdbd
    padding-bottom: 10px
    border-bottom: 1px solid $dark-grey

  p
    color: black
    font-weight: 400


.message-reply
  +span-columns(12)

  textarea
    +span-columns(12)
    height: 100px

  button
    background-color: #2b9ef6
    
