.sidebar 
	+span-columns(2.5 of 12)
	background-color: $darkest-blue
	height: 100%
	color: $lightest-blue

.sidebar-contents
    +span-columns(6)
    +shift(3)
    padding-top: 20px
    font-size: 0.9em

    li
    	margin-top: 15px

.gravatar
	img
		border-radius: 100px
		text-align: center
		+span-columns(10)
		+shift(1)
		margin-bottom: 10px

.gravatar-title
	text-align: center
	margin-bottom: 20px
	
